%div
  DEBUG#1: {{recipes.length}}

%table.table.table-striped.table-bordered
  %tr
    %th
    %th Title
    %th
  %tr{ 'ng-repeat' => "recipe in recipes" }
    %td
      %img{ 'ng-src' => "{{recipe.imageUrl}}", class: 'img-thumbnail', style: 'width:64px' }
    %td {{ recipe.title }}
    %th
      %a{ 'ng-click' => "showRecipe(recipe)"} Show
