%tr
  %td= recipe.user_id
  %td
    %img{ src: recipe.image_url, class: 'img-thumbnail', style: 'width:64px'}
  %td= recipe.title
  %td= recipe.description
  %td= link_to 'Show', [recipe.user, recipe]
