<tr class="recipe">
  <td></td>
  <td><img class="img-thumbnail" style="width: 64px;" {{bindAttr
    src=recipe.image_url}}/></td>
  <td>{{recipe.title}}</td>
  <td>{{recipe.description}}</td>
  <td>{{#linkTo 'recipe' recipe}}Show{{/linkTo}}</td>
</tr>

