<div class="container">
  <div class="nav navbar navbar-default" role="navigation">
    <div class="navbar-header">
      {{#linkTo '' class="navbar-brand"}}Super Cookbook{{/linkTo}}
    </div>
    <form class="navbar-form navbar-right recipe-search">
      <div class="form-group">
        <input class="form-control" type="text" name="query" role="search"
          placeholder="Search Recipes"/>
      </div>
      <button class="btn btn-default">Submit</button>
    </form>
  </div>
  {{outlet}}
</div>
