!!!
%html{"ng-app" => "recipe-project"}
  %head
    %title Recipes
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}

    %link{rel: "stylesheet", href:"//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"}
    %link{rel: "stylesheet", href:"//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css"}
  %body
    .container
      %nav.navbar.navbar-default{role: 'navigation'}
        .navbar-header
          %a.navbar-brand{ 'ng-click' => 'goHome()' } Super Cookbook
        %form.navbar-form.navbar-right
          .form-group
            %input.form-control{type: 'text', placeholder: 'Search Recipes', 'ng-model' => 'searchCriteria'}
          %button.btn.btn-default{ 'ng-click' => 'search(searchCriteria)'} Submit
      = yield


